.header {
  display: flex;
  width: 100%;
  height: 5%;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 16px;
  padding-top: 100px;

  color: #FFFFFF;
  text-align: center;
}

.header__title {
  margin: 0;
  font-family: 'Roboto Slab', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 111%;
}

.header__dropdown{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
}
.header__dropdown_content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
}

@media screen and (min-width: 768px) {
  .header__container {
    width: 452px;
    margin: 0 auto;
    padding-top: 100px;

    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .header__container {
    width: 608px;
    padding-top: 160px;
  }

  .header__title {
    font-size: 60px;
    line-height: 107%;
  }

}